<% @title='Not Found' %>

<div data-role="page" data-dialog="true" data-close-btn="none">

  <div data-role="header">
    <h1>Not Found</h1>
  </div><!-- /header -->

  <div role="main" class="ui-content">
    <p>We cannot find the event.</p>
    <a href="EventsMap://" class="ui-btn ui-corner-all">Go Back to Hawk Events</a>
  </div><!-- /content -->
</div><!-- /page -->

<script>window.location = "EventsMap://";</script>